body {
  font-family: 'Open Sans', sans-serif;
}

#_dash-app-content > div:first-child {
  display: grid;
  grid-template-rows: 8% 2;
  grid-template-columns: 50% 50%;
}

 h1 {
  grid-row: 1;
  grid-column: 1 / span 2;
  text-align: center;
  font-family: 'PT Serif', serif;
 }

 h2 {
  text-align: center;
  font-size: 1.5em;
 }

#visits-by-state-container {
  grid-column: 1;
  grid-row: 2;
}

#visits-by-month {
  grid-column: 1;
  grid-row: 3;
}

#interactive-park-visits-table {
  grid-column: 2;
  grid-row: 2;
}

#interactive-park-visits-table tr {
  font-size: 1vw;
  font-family: 'Open Sans', sans-serif;
}

#avg-visits-per-year {
  grid-column: 2;
  grid-row: 3;
}

